.home-nav {
  padding: 20px 0px;
  color: white;
  background-color: $primary;
  font-size: 15px;

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  &__column {
    flex-basis: 100%;
  }

  &__menu-list {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  &__menu-list-link,
  &__menu-shopping-cart svg {
    color: white;
  }
  @media (min-width: 1024px) {
    &--menu-list-item-mr {
      margin-right: 30px;
    }
    &__column {
      flex-basis: 50%;
    }
    &__column:nth-of-type(2) {
      display: flex;
      justify-content: flex-end;
    }
    &__menu-list {
      flex-direction: row;
    }
  }
}

.home-nav {
  &__logo {
    margin: 0px auto;
    color: inherit;
    text-transform: uppercase;
    font-size: 12px;
    display: flex;
    align-items: center;
    position: relative;
    width: 50px;
    height: 20px;
    border-radius: 5px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 5px;
      margin-right: 5px;
    }
  }
  @media (min-width: 1024px) {
    &__logo {
      margin: 0px;
    }
  }
}

.home-nav {
  &__menu-shopping-cart-container {
    position: relative;
    display: inline-block;
    padding: 4px 15px;
    border-radius: 5px;
    background-color: black;
  }
  &__menu-shopping-cart-qty {
    top: -4px;
    right: -4px;
    color: black;
    font-size: 10px;
    position: absolute;
    border-radius: 50%;
    width: 13px;
    height: 13px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  @media (min-width: 1024px) {
    &__menu-shopping-cart-container {
      margin-left: 15px;
    }
  }
}
